[theme='white'] {
  --background-color: #fff;
  --text-color: #000;
  --text-color-light: #666;
  --introduction-color: #05f;
  --divider-color: #ddd;
}

[theme='black'] {
  --background-color: #000;
  --text-color: #fff;
  --text-color-light: #aaa;
  --introduction-color: rgb(219, 219, 219);
  --divider-color: #ddd;
}
