.toc {
  overflow-y: auto;
  height: 100vh;
  width: 280px;

  position: fixed !important;
  top: 0;
  // z-index: 1000;

  // .is-collapsible
  max-height: 1000px;
  overflow: hidden;
  transition: all 300ms ease-in-out;

  .is-collapsed {
    max-height: 0;
  }

  .toc-list {
    overflow: hidden;

    li {
      list-style: none;

      .toc-link {
        text-decoration: none;
        // color: currentColor;
        height: 100%;
      }

      .is-active-link {
        font-weight: 700;
      }
    }
  }
}

.transition--300 {
  transition: all 300ms ease-in-out;
}
